.SR-body{

}
.SR-container{
    width: 70%;
    margin: auto;
    min-height: 500px;
    background-color: white;
}
.SR-content{

}
.SR-title{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 2rem;
}