.itemWrapper {
    display: flex;
}

.itemImage{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    flex-shrink: 1;
    background-color: white;
}

.mainImage {
    max-width: 450px;
    max-height: 900px ;
}

.sliderImage_Wrapper {
    width: 450px;
}

.silderImage {
    width: 90px;
}

.sildeImage:hover {
    cursor: pointer;
}

.utilities_Wrapper{
    display: flex;
    margin: 20px;
    font-size: 14px;
}

.socialSharing {
    border-right: 2px solid #e1e1e1;
    padding-right: 20px;
}

.socialSharing > span {
    margin: 0px 20px;
}



.wishList_Wrapper > span:nth-child(1) {
    margin: 3px 10px 0px 20px;
}

.socialLogo {
    width: 20px;
    margin-right: 5px;
}

.itemInfo_Wrapper {
    margin-top: 20px;
    margin-right: 150px;
    padding: 0px 30px 20px 50px;
    background-color: white;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}

.itemName{
    margin-top: 20px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
}

.priceItem {
    font-size: 1.875rem;
    font-weight: 600;
    color: #FF3557;
    margin-top: 30px;
    padding: 15px 20px;
    background-color: #fafafa;
}

.itemInfo {
    margin-left: 20px;
    color: #757575;
    font-weight: 400;
    font-size: 14px;
}

.itemVoucher {
    margin-top: 30px;
    display: flex;
}
.voucherTicket {
    background-color: #f5cbd1;
    color: #FF3557;
    margin-left: 30px;
    padding: 2px;
    text-align: center;
}

.voucherTicket:hover {
    cursor: pointer;
    background-color: #faeaec;
}

.itemInsurance {
    margin-top: 20px;
    display: flex;    
}

.itemInsurance > div:nth-child(1) {
    margin-left: 20px;
    color: #000;
}

.itemInsurance > div:nth-child(2) {
    background-color: rgb(255, 53, 87);
    border-radius: 8px;
    border-bottom-left-radius: 0;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    height: 16px;
    line-height: 16px;
    margin-left: 5px;
    padding: 0 5px;
}

.itemInsurance > div:nth-child(3) {
    margin-left: 20px;
    color: #08f;
}


.ratingItem > button{
    border: none;
    border-right: 2px solid rgba(0,0,0,.14);
    color: rgb(255, 53, 87);
    font-weight: 500;
    font-size: 18px;
    background-color: white;
    padding-right: 20px;
    margin-left: 10px;
}

.ratingStarIcon {
    width: 20px;
    margin: 15px 5px 15px 0px;
}

.ratingCount > span {
    color: #a0a0a0;
    margin-left: 5px;
}

.soldCount > span {
    color: #a0a0a0;
    margin-left: 5px;
}

.freeShipImg {
    width: 32px;
    margin: 10px 5px 10px 20px;
}

.itemShipping > span{
    color: #000;
}

.itemColor{
    display: flex;
}

.itemColor > span {
    margin-top: 10px;
}

.itemColor > div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 400px;
}

.itemColor_btn{
    min-width: 180px;
    min-height: 30px;
    overflow: visible;
    box-sizing: border-box;
    color: rgba(0,0,0,.8);
    text-align: left;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.09);
    position: relative;
    background: #fff;
    outline: 0;
    word-break: break-word;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 10px 0px 0px 20px;
}

.productColor {
    width: 24px;
    position: absolute;
    left: 5px;
    margin-right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.itemColor_btn > span {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 500;
}

.itemQuantity_num{
    border: 1px solid #fafafa;
    width: 50px;
    text-align: center;
}

.decrease_btn,
.increase_btn {
    border: 1px solid #fafafa;
}

.decrease_btn{
    margin: 20px 0px 0px 21px;
}

.increase_btn {
    margin-right: 20px;
}

.available-product {
    margin-top: 10px;
}

.buyModal {
    display: flex;
    align-items: center;
    margin: 30px 0px 0px 20px;
    
}

.addToCart{
    background-color: rgb(255, 226, 226);
    width: 35%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 53, 87);
    border-radius: 2px;
}

.addToCart > span {
    font-size: 15px;
    color: rgb(255, 53, 87);
    font-weight: 500;
}

.addToCart:hover{
    cursor: pointer;
    background-color: rgba(208,1,27,.08);
}

.buyNow{
    background-color: rgb(255, 53, 87);
    width: 35%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 53, 87);
    color: #fff;
    border-radius: 2px;
    margin-left: 30px;
    font-size: 15px;
}

.buyNow:hover{
    cursor: pointer;
    background-color: rgb(254, 74, 104);
}

.silderImage:hover {
    cursor: pointer;
}

@media screen and (max-width: 1300px){
    .itemImage{
        margin-left: 0px;
    }
    .itemInfo_Wrapper{
        margin-right: 0px;
        padding: 0px 20px 20px 30px;
    }
    .itemName {
        font-size: 23px;
        font-weight: 600;
    }
    .itemInsurance > div:nth-child(1) {
        margin-left: 25px;
    }
    .ratingCom-Wrapper {
        margin: 0;
    }
    .briefInfo_Wrapper{
        margin: 0px 10px;
    }
    .available-product {
        width: 50%;
    } 
    .itemInfo {
        margin: 0;
    }
    .buyModal {
        margin: 30px 0px 0px 0px;
    }
}
@media screen and (max-width: 1100px) {
    .priceItem {
        font-size: 25px
      }
}

