.image-slider {
    position: relative;
    width: 100%;
    max-width: 600px; /* Điều chỉnh kích thước tối đa của ảnh */
    margin: auto;
  }
  
  .image-slider img {
    width: 100%;
    height: auto;
    max-height: 150px; /* Điều chỉnh chiều cao tối đa của ảnh */
    object-fit: cover; /* Đảm bảo ảnh không bị biến dạng */
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  button:first-child {
    left: 10px;
  }
  
  button:last-child {
    right: 10px;
  }