.image-slider {
    position: relative;
    width: 100%;
    max-width: 300px; 
    margin: auto;
  }
  
  .image-slider img {
    width: 100%;
    height: auto;
    max-height: 150px; /* Điều chỉnh chiều cao tối đa của ảnh */
    object-fit: cover; /* Đảm bảo ảnh không bị biến dạng */
  }
  
 

  
 