.headerWrapper{
    width: 100%;
    height: 120px;
    background: linear-gradient(to left, rgb(239, 104, 122), rgb(255, 221, 225));
 display: flex;
}
.headerLogo{
    width: 30%;
    
}
.imgLogo{
    width: 320px;
    height: 110px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-top: 10px;
}
.headerMenu{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.subMenuTop{
height: 40px;


}
.navMenutop li{
    display : inline-block;
    padding : 10px 20px;
}
.subMenuBot{

}
.css-form{
    border-radius: 10px 0px 0px 10px !important;
}
.css-button-a{
    text-decoration: none;
    background-color: white;
    border-radius: 0px 10px 10px 0px !important;
}
.searchIcon{
    width: 25px;
    height: 25px;
    color: rgb(239, 104, 122);
    vertical-align: -webkit-baseline-middle;
}
.border-input{
    border: 1px solid  rgb(231, 61, 92);
    border-radius: 10px;
}
.cssSvg{
    width: 20px;
    height: 20px;
    color: white;
    margin-right: 10px;
}
li{
    list-style-type: none;
}
.inlineBlock{
    display: inline-block;
}
.textWhite{
    color: white ;
}
a{
    text-decoration: none !important;
}
.subHeader {
    
}
.sizeText15{
    font-size: 15px;
}
.input-group1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
