.HE-body{
  
    background-color: white;
    width: 70%;
    margin:10px auto;
    height: auto;
    padding: 30px 1%;
    font-size: 1.2rem;
    min-height: 100px;
}
.PE-item{
    margin: auto;
  }
.He-content{
    display: flex;
    width: 1005;
    justify-content: center;
    align-items: center;

}
.He-slider{
  justify-content: center;
  align-items: center;
    width: 35%;
    height: 600px;
}
.He-sli-img{
    height: auto;
    max-height: 600px;
    max-width: 450px;
    width: 100%;
}
.event-content{
    margin-left: 30px;
    width: 60%;
}
.HE-title{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(252, 10, 42);
}
.event-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
@media screen and (max-width: 1840px) {
    .event-content {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media screen and (max-width: 1330px) {
    .He-content{
      display: block;
      margin: auto;
      
      width: 100%;
  
  }
  .He-slider{
    display: none;
  }
    .event-content {
      justify-content: center;
      margin: auto;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media screen and (max-width: 1840px) {
    .HE-body{
      width: 90%;
      margin: auto;
  }
    }
    
    @media screen and (max-width: 1430px) {
      .HE-body{
        width: 95%;
        margin: auto;
    }
    }
    
    @media screen and (max-width: 1350px) {
      .HE-body {
        grid-template-columns: repeat(6, 1fr);
      }
      .HE-body{
        width: 100%;
        
        height: auto;
        
        font-size: 1.2rem;
        min-height: 100px;
    }
    }
    @media screen and (max-width: 1331px) {
      
      .HE-body{
        width: 100%;
        
        height: auto;
        
        font-size: 1.2rem;
        min-height: 100px;
    }
    }
    @media screen and (max-width: 1095px) {
      .HE-body {
        grid-template-columns: repeat(4, 1fr);
      }
      .HE-body{
        width: 100%;
        
        height: auto;
        
        font-size: 1.2rem;
        min-height: 100px;
    }
    }
    @media screen and (max-width: 720px) {
      .event-content {
        grid-template-columns: repeat(3, 1fr);
      }
      .HE-body{
        width: 100%;
        
        height: auto;
        
        font-size: 1.2rem;
        min-height: 100px;
    }
    }
    @media screen and (max-width: 530px) {
      .event-content {
        grid-template-columns: repeat(2, 1fr);
      }
      .HE-body{
        width: 100%;
        
        height: auto;
        
        font-size: 1.2rem;
        min-height: 100px;
    }
    }