.HE-body{
  
    background-color: rgba(246, 34, 91, 0.1);
    width: 70%;
    margin:10px auto;
    height: auto;
    padding: 30px 1%;
    font-size: 1.2rem;
    min-height: 100px;
}
.He-content{
    display: flex;
    width: 1005;

}
.He-slider{
    width: 35%;
    height: 600px;
}
.He-sli-img{
    height: 600px;
    width: 100%;
}
.event-content{
    width: 60%;
}
.HE-title{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(252, 10, 42);
}