body {
  margin: 0;
  font-family: 'Roboto Mono', monospace,'Inter', sans-serif ,'Space Mono', monospace,'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', monospace,'Inter','Courier New',
    monospace;
}
