.slider {
    width: 70%;
    height: 220px;
    background-image: url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.sli-img {

    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-slider {
    width: 70%;
    margin: auto;
    display: flex;
    margin-top: 10px;

}

.slider2 {
    display: block;
    width: 30%;
    height: 110px;
    margin-left: 10px;
    background-image: url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.sli2-img {
    width: 150px;
    height: 110px;
}

.sli-items {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 100px;
    display: flex;

}

.sli-item {
    width: 25%;
    margin-right: 30px;
}

.sli-item>div:nth-child(1) {
    margin-left: 5px;
}

.sli-item-img {
    width: 100%;
    height: 55px;
    border: 1px solid black;
    border-radius: 30px;
}

.sli-item-name {
    font-size: 12px;
    height: 45px;
    text-align: center;
}

@keyframes colorChange {

    0%,
    100% {
        color: #000000;
        /* Màu ban đầu */
    }

    25% {
        color: #ff0000;
        /* Đổi sang màu đỏ */
    }

}

@media screen and (max-width: 1840px) {
    .sli2-img{
      width: auto;
  }
}
@media screen and (max-width: 850px) {
    .sli2-img {
        width: 235px;
    }
}